<h2>Transactions</h2>
<p>Your company's financial activity</p>

<p>
  <button class="btn btn-primary" (click)='onNewTransaction()'>New Transaction</button>
</p>

<div class='table-responsive'>
    <table class='table table-striped'
            *ngIf='transactions && transactions.length'>
        <thead>
            <tr>
                <th></th>
                <th>Code</th>
                <th>Date</th>
                <th>Contact</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Category</th>
<!--            <th>Job</th>  -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let transaction of transactions'>
                <td>
                  <button type="button" class="close" aria-label="Close" (click)='onDeleteTransaction(transaction)'>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
                <td>{{ transaction.numberCode }}</td>
                <td>{{ transaction.transactionDate | date: 'short' }}</td>
                <td>{{ transaction.contact }}</td>
                <td>{{ transaction.description }}</td>
                <td class="currency">
                  <span *ngIf="transaction.type == TransactionType.Expense ||
                               transaction.type == TransactionType.Withdrawl">
                    {{ transaction.amount | currency:'USD' }}
                  </span>
                </td>
                <td class="currency">
                  <span *ngIf="transaction.type == TransactionType.Revenue ||
                               transaction.type == TransactionType.Contribution">
                    {{ transaction.amount | currency:'USD' }}
                  </span>
                </td>
                <td>{{ transaction.category }}</td>
<!--            <td>{{ transaction.job }}</td>  -->
            </tr>
        </tbody>
    </table>
</div>
